@model IndexVM

@{
    ViewBag.Page = "Shop Page";
}


<div class="shop_sidebar_area">

    <!-- ##### Single Widget ##### -->
    <div class="widget catagory mb-50">
        <!-- Widget Title -->
        <h6 class="widget-title mb-30">Catagories</h6>

        <!--  Catagories  -->
        <div class="catagories-menu">
            <ul>
                <li class="title-link active" data-titleid="0"><a href="#">Bütün məhsullar</a></li>

                @foreach (var cate in ViewBag.Categories)
                {
                    <li class="title-link" data-titleid="@cate.Id"><a href="#">@cate.Name</a></li>   
                }
            </ul>
        </div>
    </div>

    <!-- ##### Single Widget ##### -->
    <div class="widget brands mb-50">
        <!-- Widget Title -->
        <h6 class="widget-title mb-30">Brands</h6>

        <div class="widget-desc">
            @foreach (var brand in ViewBag.Brands)
            {
                 <div class="form-check">
                    <label class="form-check-label brand-link" data-brandid="@brand.Id" for="@brand.Name">@brand.Name</label>
                </div>
            }   
          </div>
    </div>

    <!-- ##### Single Widget ##### -->
    <div class="widget color mb-50">
        <!-- Widget Title -->
        <h6 class="widget-title mb-30">Color</h6>

        <div class="widget-desc">
            <ul class="d-flex">
                @foreach (var color in ViewBag.Color)
                {
                <li class="color-link" data-colorid="@color.Id"><a style="background-color:@color.Name"></a></li>
                }
            </ul>
        </div>
    </div>

</div>

<div class="amado_product_area section-padding-100">
    <div class="container-fluid">

        <div class="row">
            <div class="col-12">
                <div class="product-topbar d-xl-flex align-items-end justify-content-between">
                    <!-- Total Products -->
                    <div class="total-products">
                        <p>Showing Products @Model.Products.Count</p>
                        <div class="view d-flex">
                            <a id="smallScreen"><i class="fa fa-th-large" aria-hidden="true"></i></a>
                            <a id="largeScreen"><i class="fa fa-bars" aria-hidden="true"></i></a>
                        </div>
                    </div>
                    <!-- Sorting -->
                    <div class="product-sorting d-flex">
                        <div class="sort-by-date d-flex align-items-center mr-15">
                            <p style="padding-right:7px">Sort by</p>
                            <button style="cursor:pointer; border:none; background-color:transparent; font-size:14px; padding:0 7px; color:@(string.IsNullOrEmpty(ViewBag.Order) ? "orange" : "black")" class="desc-btn" onclick="applyFilter('desc')">
                                Descending
                            </button>

                            <button style="cursor:pointer; border:none; background-color:transparent; font-size:14px; color:@(string.IsNullOrEmpty(ViewBag.Order) ? "orange" : "black")" class="asc-btn" onclick="applyFilter('asc')">
                                Ascending
                            </button>

                        </div>

                        <div class="view-product d-flex align-items-center">
                            <p>View</p>

                            <select id="filterSelect" onchange="applyFilterTake(this.value)">
                                <option>
                                    2
                                </option>
                                <option>
                                    4
                                </option>
                                <option>
                                    6
                                </option>
                            </select>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" id="partials">

            @await Html.PartialAsync("_ShopPartial",Model)
        </div>

        <div class="row">
            <div class="col-12">
                <nav aria-label="navigation">
                    <ul class="pagination justify-content-end mt-50">
                        @for (int i = 1; i <= Model.TotalPageCount; i++)
                        {
                            <li class="page-item">
                                <a class="page-link page-btn" data-page="@i">@i</a>
                            </li>
                        }
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>

@section Script{
<script src="~/js/ForShop.js"></script>
<script> initializePagination();</script>
}